* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }
  
  header {
    background-color: #4986b8;
    color: white;
    height: 5vh;
    padding: 20px;
    width: 100%;
  }
  
  main {
    /* height: 100vh; */
    max-width: 800px;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    gap: 10px;
  }
  
  main aside,
  main section {
    padding: 10px;
  }
  
  .left {
    background-color: moccasin;
  }
  
  section {
    background-color: aliceblue;
  }
  
  .right {
    background-color: mistyrose;
  }
  
  footer {
    position: static;
    bottom: 0;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    height: 5vh;
  }

  @media screen and (max-device-width: 480px) {
    header{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    main{
      align-items: center;
      flex-direction: column;
      margin: 0;
      max-width: none;
      min-height: 100vh;
    }

    main aside,
    main section {
      width: 90vw;
    }
  }